#logo img {
    max-width: 250px; /* ロゴの最大幅を少し小さく調整 */
    height: auto; /* アスペクト比を維持 */
    margin: 10px auto; /* 上下に少し余白を追加 */
    display: block; /* 中央揃え */
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    color: #ffffff;
}

.transaction-list {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 15px; /* 丸みを増加 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* アイテムに影を追加 */
    margin-bottom: 30px;
    background-color: #ffffff;
}

.transaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 2px solid #ddd;
}

.transaction:last-child {
    border-bottom: none;
}

.transaction span {
    font-size: 18px;
    flex: 2;
}

.transaction .amount {
    flex: 1;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.transaction input[type="checkbox"] {
    flex: 0;
    width: 25px;
    height: 25px;
    margin-left: 15px;
    cursor: pointer;
}

.end-button {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: not-allowed;
    transition: background-color 0.3s;
}

.end-button.enabled {
    background-color: #607d8b;
    cursor: pointer;
}

.end-button.enabled:hover {
    background-color: #607d8b;
}
#main-container{
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 30px;
    background-color: #b0b0b0;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    
}