#logo img {
    max-width: 250px; /* ロゴの最大幅を少し小さく調整 */
    height: auto; /* アスペクト比を維持 */
    margin: 10px auto; /* 上下に少し余白を追加 */
    display: block; /* 中央揃え */
  }
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* PC画面の背景を白に */
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 20px 0;
    height: 100%;
    width: 100%;
}
.container {
    width: 90%; /* 幅をデバイス幅に合わせる */
    max-width: 500px; /* 最大幅をスマホサイズに固定 */
    background-color: #b0b0b0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.container h1 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #fff;
}
.container input[type="password"] {
    width: 90%;
    padding: 12px; 
    margin: 5px; 
    border: none;
    border-radius: 5px;
    background-color: #f8f0f0;
    color: black;
    font-size: 16px; 
}
.container button {
    width: 100%;
    padding: 12px; 
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.container button:hover {
    background-color: #0056b3;
}
#main-container{
    /*ここから*/
    width: 90%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    /*ここまで*/
}