#logo img {
  max-width: 250px; /* ロゴの最大幅を少し小さく調整 */
  height: auto; /* アスペクト比を維持 */
  margin: 10px auto; /* 上下に少し余白を追加 */
  display: block; /* 中央揃え */
}
/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* PC画面の背景を白に */
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 20px 0;
  height: 100%;
  width: 100%;
  }
  
  .container {
    width: 90%; /* 幅をデバイス幅に合わせる */
    max-width: 500px; /* 最大幅をスマホサイズに固定 */
    background-color: #b0b0b0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #fff;
  }

  .container input[type="email"] {
    width: 90%;
    padding: 12px; 
    margin: 5px; 
    border: none;
    border-radius: 5px;
    background-color: #f8f0f0;
    color: black;
    font-size: 16px; 
    }
  #code{
    background-color: #f8f0f0;
    color: black;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 12px;
    margin: 5px;
   }
  .container hr {
    border: none;
    height: 1px;
    background-color: #404040;
    margin: 10px 0 20px;
    }

  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: bold;
  }
  
  .input-group {
    display: flex;
    gap: 10px;
  }
  
  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 0.9em;
    background-color: #333;
    color: white;
  }
  
  input::placeholder {
    color: #999;
  }
  
  .btn {
    background-color: #607d8b;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.9em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  }
  
  .btn:hover {
    background-color: #767f8d;
  }
  
  .message {
    font-size: 0.9em;
    color: #ccc;
    margin-bottom: 20px;
    color: #313233;
  }
  
  .message a {
    color: #007bff;
    text-decoration: none;
  }
  
  .message a:hover {
    text-decoration: underline;
  }
  #main-container{
    /*ここから*/
    width: 90%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    height: auto;
    /*ここまで*/
  }
  