body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* PC画面の背景を白に */
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 20px 0;
    height: 100%;
    width: 100%;
    }
    .container {
    width: 90%; /* 幅をデバイス幅に合わせる */
    max-width: 500px; /* 最大幅をスマホサイズに固定 */
    background-color: #b0b0b0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    }
    .container hr {
    border: none;
    height: 1px;
    background-color: #404040;
    margin: 10px 0 20px;
    }
    .container input[type="text"],
    .container input[type="password"] {
    width: 90%;
    padding: 12px; 
    margin: 5px; 
    border: none;
    border-radius: 5px;
    background-color: #f8f0f0;
    color: black;
    font-size: 16px; 
    }
    .container button {
    width: 100%;
    padding: 12px; 
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    }
    .login-button {
    display: block;
    padding: 15px;
    background-color: #607d8b;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* ボタンに影を追加 */
    }
    .login-button:hover {
    background-color: #767f8d;
    }
    .register-button {
        display: block;
        padding: 15px;
        background-color: #555050;
        color: white;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* ボタンに影を追加 */
    }
    .register-button:hover {
    background-color: #706e6e;
    }
    .passwasu a{
    color: white;
    }
    #main-container{
        width: 90%;
        max-width: 500px;
        padding: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        height:auto;
    }
    .main-title {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
        color: white;
      }