body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.container {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 15px; /* 丸みを増加 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* アイテムに影を追加 */
    margin-bottom: 30px;
    background-color: #ffffff;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

.bold-text {
    font-weight: bold;
}

input[type="text"], input[type="number"], select, .checkbox-group {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
}

.checkbox-group {
    height: 100px;
    overflow-y: auto;
    background-color: #f4f4f4;
    color: #333;
    padding: 5px;
}

.checkbox-group label {
    display: block;
    margin: 5px;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-create {
    background-color: #767f8d;
}

.button-back {
    background-color: #7a7a7a;
}

#main-container {
    width: 100%;
    max-width: 500px;
    background-color: #b0b0b0;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}
