#logo img {
    max-width: 250px; /* ロゴの最大幅を少し小さく調整 */
    height: auto; /* アスペクト比を維持 */
    margin: 10px auto; /* 上下に少し余白を追加 */
    display: block; /* 中央揃え */
  }
/* 基本スタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

#main-container {
    width: 90%;
    max-width: 500px;
    background-color: #b0b0b0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative; /* 戻るボタンの位置調整のために追加 */
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

/* メンバーリストのスタイル */
.member-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    flex-grow: 1; /* リストを中央に寄せるためのスペースを確保 */
}

.member-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 0.6s ease forwards;
}

.member-item:nth-child(1) { animation-delay: 0.1s; }
.member-item:nth-child(2) { animation-delay: 0.2s; }
.member-item:nth-child(3) { animation-delay: 0.3s; }

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.member-item a {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.payment-amount {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}

/* 戻るボタンを右下に配置 */
#return-link {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #607d8b;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
